<section class="section">
  <div class="container exercises-container">
    <h2 class="exercises-title">Exercises</h2>
    <div>
      <ul class="exercises-btn-list">
        <li>
          <button class="exercises-btn" type="button">Muscles</button>
        </li>
        <li>
          <button class="exercises-btn" type="button">Body parts</button>
        </li>
        <li>
          <button class="exercises-btn" type="button">Equipment</button>
        </li>
      </ul>
    </div>
    <div>
      <ul class="exercises-gallery"></ul>
    </div>
  </div>
</section>
