<div class="exercises-details">
  <h4 class="exersises-header">Exersices</h4>
  <form class="form">
    <input type="text" name="query" placeholder="Search images..." />
    <button class="search-btn" type="submit">Search</button>
  </form>
  <ul class="filtered-cards"></ul>
  <p class="exercise-text-no-found">
    hi Unfortunately, <span class="exercise-no-found">no results</span>no
    results were found. You may want to consider other search options to find
    the exercise you are looking for. Our range is wide and you have the
    opportunity to find more options that suit your needs.
  </p>
  <button>Hello world</button>
</div>
