<section class="section first-exercises-section">
  <div class="container exercises-container">
    <div>
      <h2 class="exercises-title">Exercises</h2>
    </div>
    <div class="exercises-btn-container">
      <ul class="exercises-btn-list">
        <li>
          <button class="active" data-filter="Muscles">Muscles</button>
        </li>
        <li>
          <button data-filter="Body parts">Body parts</button>
        </li>
        <li>
          <button data-filter="Equipment">Equipment</button>
        </li>
      </ul>
    </div>
    <div class="exercises-gallery-container">
      <ul class="exercises-gallery"></ul>
    </div>
    <div class="exercises-pagination-container">
      <div class="exercises-pagination"></div>
    </div>
  </div>
</section>
