<header class="section header-section">
  <div class="container container-header">
    <div class="header-section-container">
      <a href="./index.html" class="header-title">
        energy.flow
      </a>
      <nav class="navigation-header">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a href="./index.html" class="navigation-links home-page" aria-label="Home page link">Home</a>
          </li>
          <li class="navigation-item">
            <a href="./favorites.html" class="navigation-links favorites-page"
              aria-label="Favorties page link">Favorites</a>
          </li>
        </ul>
      </nav>
      <ul class="header-social-list">
        <li class="header-social-item instagram-animation">
          <a href="https://www.facebook.com/goITclub/" class="header-social-link" target="_blank" title="facebook">
            <svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item facebook-animation">
          <a href="https://www.instagram.com/goitclub/" class="header-social-link" target="_blank" title="instagram">
            <svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item youtube-animation">
          <a href="https://www.youtube.com/c/GoIT" class="header-social-link" target="_blank" title="youtube">
            <svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-mobile-open-btn" type="button" aria-label="Open mobile menu" data-modal-open>
        <svg class="mobile-open-icon" width="32" height="16">
          <use href="../img/icons/symbol-defs.svg#icon-mob-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>