<section class="section section-hero">
  <div class="container hero">
    <div class="hero-section">
      <div class="section-left">

        <div class="hero-list">
          <div class="hero-btns">
            <span><span class="border-text-hero">#Sport</span><span class="border-text-hero">#Workout</span></span>
            <span></span><span class="border-text-hero">#Healthy</span><span
              class="border-text-hero">#Diet</span></span>
          </div>

        </div>
      </div>
      <div class="section-right">
        <h1 class="hero-title">Get <span class="span-hero">Body </span>in shape, Stay healthy</h1>
        <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive fitness
          and nutrition support.</p>
      </div>
    </div>
  </div>

</section>