<section class="section quote-section">
  <div class="container container-quote">
    <blockquote class="quote-container">
      <div class="quote-title-wrapper">
        <div class="quote-svg-man">
          <svg class="svg-run-man" width="18" height="20">
            <use href="/assets/symbol-defs.svg#icon-Man"></use>
          </svg>
        </div>
        <div class="title-quote-wrapper">
          <h3 class="quote-title">Quote of the day</h3>
          <div class="quote-svg-quotes">
            <svg class="svg-quotes" width="22" height="22">
              <use href="/assets/symbol-defs.svg#icon-lapki"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="quote-wrapper">
        <p class="quote-text"></p>
        <p class="quote-author"></p>
      </div>
    </blockquote>
    <div class="quote-img-container"></div>
  </div>
</section>
