<section class="quote-section">
  <div class="container container-quote">
    <blockquote class="quote-container">
      <div class="quote-title-wrapper">
        <svg class="" width="32" height="32">
          <use href=""></use>
        </svg>
        <div class="title-quote-wrapper">
          <h3 class="quote-title">Quote of the day</h3>
          <div class="quote-svg"></div>
        </div>
      </div>
      <div class="quote-wrapper">
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-author">Tom Brady</p>
      </div>
    </blockquote>
    <div class="quote-img-container"></div>
  </div>
</section>
