<section class="section quote-section">
  <div class="container container-quote">
    <blockquote class="quote-container">
      <div class="quote-title-wrapper">
        <div class="quote-svg-man">
          <img
            class="svg-man"
            src="/img/icons/all icons/Man.svg"
            alt="running-man icon"
          />
        </div>
        <div class="title-quote-wrapper">
          <h3 class="quote-title">Quote of the day</h3>
          <img
            class="quote-svg-com"
            src="/img/icons/all icons/lapki.svg"
            alt="commas-icon"
          />
        </div>
      </div>
      <div class="quote-wrapper">
        <p class="quote-text"></p>
        <p class="quote-author"></p>
      </div>
    </blockquote>
    <div class="quote-img-container"></div>
  </div>
</section>
