<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Recommendations</h2>
    <ul class="ul-list">
      <li>
        <img
          class="style-img-box"
          src="/src/img/img.jpg"
          alt="foto fitness women"
        />
      </li>
      <li class="wrap">
        <h2>110 min</h2>
        <p>Daily norm of sports</p>
        <p>
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </li>
    </ul>
  </div>
</section>
