<section class="section">
  <div class="container container-div">
    <h2 class="visually-hidden">Recommendations</h2>
    <div class="container-picture"></div>
    <div class="recommend-text-div">
      <span class="recommend-icon-span">
        <svg class="recommend-icon" width="20" height="20">
          <use href="/assets/symbol-defs.svg#icon-dumbbell" />
        </svg>
      </span>
      <div class="recommend-text-box">
        <h2 class="recommend-title">110 min</h2>
        <p class="recommend-subtitle">Daily norm of sports</p>
      </div>
      <p class="recommend-description">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
