<section class="container recommend-container">
  <div class="container container-div">
    <h2 class="visually-hidden">Recommendations</h2>
    <div class="container-picture">
      <picture>
        <source
          srcset="
            ./img/desctop/desc-section3@1.jpg 1x,
            ./img/desctop/desc-section3@2.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/tablet/tablet-section3@1.jpg 1x,
            ./img/tablet/tablet-section3@2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/mobile-section3@1.jpg 1x,
            ./img/mobile/mobile-section3@2.jpg 2x
          "
          media="(max-width: 375px)"
        />
        <img
          class="recommend-img"
          alt="foto fitness women"
          src="./img/desctop/desc-section3@1.jpg"
          width="700"
          height="269"
        />
      </picture>
    </div>

    <div class="recommend-text-div">
      <span class="recommend-icon-span">
        <svg class="recommend-icon" width="20" height="20">
          <use href="./img/icons/all icons/dumbbell.svg" />
        </svg>
      </span>
      <div class="recommend-text">
        <h2 class="recommend-title">110 min</h2>
        <p class="recommend-subtitle">Daily norm of sports</p>
        <p class="recommend-description">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
