.exercises-details {
    margin: 0 50px;
}

.header-btn {
}

.filtered-cards {}

.filtered-card-item {}

.card-box-workout {}

.card-box-info {}

.filtered-workout {
    border-radius: 15px;
    padding: 5px 8px;
    /* width: 76px; */
    height: 26px;
    text-transform: uppercase;
}

.card-box-rating {}

.filtered-rating {}

.filtered-star {}

.to-favorites-start {
    padding: 5px;
    height: 28px;
    color: black;
    background-color:antiquewhite;
    border-radius: 0;
}

.to-favorites-start:hover {
    background-color: aqua;
}

.card-box-title {}

.filteered-athlete {}

.filteered-title {}

.filtered-description {}

.filtered-descr-item {}

.filtered-descr-title {}

.filtered-descr-value {}

























/* ! Pagination */


/* Чорна цифра 1 в чорному кружечку */
.tui-pagination-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 50%;
    /* Заокруглений круг */
    background-color: #000;
    /* Чорний колір */
    color: #fff;
    /* Білий колір тексту */
}

/* Сіра цифра 2 та 3 без кружечка */
.tui-pagination-btn:nth-child(2),
.tui-pagination-btn:nth-child(3) {
    background-color: transparent;
    /* Прозорий фон */
    color: #808080;
    /* Сірий колір тексту */
}