.exercises-details {
    width: 335px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .exercises-details {
        width: 736px;
    }
}

@media only screen and (min-width: 1440px) {
    .exercises-details {
        width: 1408px;
    }
}

.exersises-header {}

.form {}

.exercises-input {}

.search-btn {}

.exercise-text-no-found {
    padding-bottom: 320px;
}

@media only screen and (min-width: 768px) {
    .exercise-text-no-found {
        padding-bottom: 586px;
    }
}

@media only screen and (min-width: 1440px) {
    .exercise-text-no-found {
        padding-bottom: 350px;
    }
}

.filtered-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .filtered-cards {
        gap: 20px 14px;   
    }
}

@media only screen and (min-width: 1440px) {
    .filtered-cards {
        gap: 28px 20px;
    }
}

.filtered-card-item {
    border: 1px solid red;
    border-radius: 15px;
    width: 295px;
    padding: 16px;
}

@media only screen and (min-width: 768px) {
    .filtered-card-item {
        width: 313px;
    }
}

@media only screen and (min-width: 1440px) {
    .filtered-card-item {
        width: 424px;
    }
}

.card-box-workout {
    display: flex;
    flex-direction: row;
}

.card-box-info {
    display: flex;
    flex-direction: row;
}

.filtered-workout {
    border-radius: 15px;
    /* width: 76px; */
    height: 26px;
    text-transform: uppercase;
}

.card-box-rating {
display: flex;
flex-direction: row;
}

.filtered-rating {}

.filtered-star {}

.to-favorites-start {
    padding: 5px;
    height: 28px;
    color: black;
    background-color:antiquewhite;
    border-radius: 0;
}

.to-favorites-start:hover {
    background-color: aqua;
}

.card-box-title {
}

.filteered-athlete {}

.filteered-title {}

.filtered-description {}

.filtered-descr-item {}

.filtered-descr-title {}

.filtered-descr-value {}




/*  Pagination */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid red;
    cursor: pointer;
}

.pagination-item.active {
    background-color: #007bff;
    color: #fff;
}

.pagination-item:hover {
    background-color: #f8f8f8;
}