.exercises-container {
  background-color: var(--background-light-grey);
  /* display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative; */
  width: 335px;
  width: 100%;
  padding: 40px 20px;
  min-height: 760px;
}

.exercises-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--text-main-color);
  margin-bottom: 20px;
}

/* === Exercises-btn === */

.exercises-btn-list {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.exercises-btn-item {
  font-family: 'DM Sans', sans-serif;
  border-radius: 30px;
  height: 32px;
  padding: 7px 14px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.29;
  background-color: var(--background-main);
  color: var(--text-main-color);
}

.btn-item-active {
  background-color: var(--text-color-accent);
  color: var(--text-light-color);
}

/* === Exercises-gallery === */

.exercises-gallery {
  margin-top: 40px;
}

.exercises-gallery-item {
  position: relative;
  cursor: pointer;
  background-color: var(--text-main-color);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 12px;
  border: 1px solid var(--background-btn-hover);
  transition: transform var(--anim);
  margin-bottom: 20px;
}

.exercises-gallery-item:hover {
  transform: scale(0.95);
}

.exercises-gallery-img {
  width: 295px;
  height: 232px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.exercises-gallery-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7),
    rgba(16, 16, 16, 0.7)
  );
  border-radius: 12px;
}

.exercises-gallery-title {
  text-transform: capitalize;
  color: var(--text-light-color);
  text-align: center;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 2px;
  font-weight: 400;
}

.exercises-gallery-filter {
  text-align: center;
  color: var(--background-btn-hover);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* === Exercises-pagination ==== */

.exercises-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.exercises-pagination button {
  width: 31px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 0px 12px;
  color: rgba(27, 27, 27, 0.4);
  border: 1px solid var(--text-main-color);
}

.exercises-pagination button.active {
  background-color: var(--background-light-grey);
  border: 1px solid var(--text-main-color);
  color: var(--text-main-color);
}

/* .exercises-pagination:hover,
.exercises-pagination:focus {
  background-color: var(--background-light-grey);
  color: var(--text-main-color);
} */

/* ==== Tablet ==== */

@media only screen and (min-width: 768px) {
  .exercises-container {
    padding: 64px 48px;
  }

  .exercises-title {
    font-size: 44px;
    line-height: 1.09;
    margin-bottom: 32px;
  }

  .exercises-btn-container {
    margin-bottom: 0;
  }

  .exercises-btn-list {
    justify-content: flex-start;
    gap: 8px;
  }

  .exercises-btn-item {
    height: 44px;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.5;
  }

  .exercises-gallery {
    height: 1570px;
    /* width: 640px; */
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }

  .exercises-gallery-item {
    flex-basis: calc((100% - 14px) / 2);
    margin-bottom: 0;
    max-width: 313px;
    height: 250px;
  }

  .exercises-gallery-img {
    width: 313px;
    height: 250px;
  }

  .exercises-gallery-title {
    font-size: 24px;
  }

  .exercises-pagination {
    margin-top: 32px;
  }
}

/* ==== Desktop ==== */

@media only screen and (min-width: 1440px) {
  .exercises-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  .exercises-gallery-item {
    flex-basis: calc((100% - 60px) / 4);
    margin-bottom: 0;
  }
}
