.exercises-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(27, 27, 27, 0.5);
}

.subexercises-search-form {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .subexercises-search-form {
    margin-top: 0;
  }
}

.subexercises-input {
}

.subexercises-search-btn {
}

.subexercises-search-delete {
}

.subexercises-deteils-container {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .subexercises-deteils-container {
    width: 736px;
  }
}

@media only screen and (min-width: 1440px) {
  .subexercises-deteils-container {
    width: 1408px;
  }
}

.subexercises-filtered-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subexercises-filtered-cards {
    gap: 20px 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .subexercises-filtered-cards {
    gap: 28px 20px;
  }
}

.subexercises-text-no-found {
}

@media only screen and (min-width: 768px) {
  .subexercise-text-no-found {
  }
}

@media only screen and (min-width: 1440px) {
  .subexercise-text-no-found {
  }
}

.exercise-no-found {
}

.filtered-card-item {
  width: 295px;
  height: 165px;
  border-radius: 15px;
  padding: 16px;
  background-color: var(--background-white);
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .filtered-card-item {
    width: 313px;
    height: 165px;
  }
}

@media only screen and (min-width: 1440px) {
  .filtered-card-item {
    width: 424px;
  }
}

.card-box-workout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.card-box-info {
  display: flex;
  flex-direction: row;
}

.filtered-workout {
  border-radius: 15px;
  background-color: var(--background-dark-grey);
  padding: 5px, 8px;
  color: var(--background-white);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.card-box-rating {
  display: flex;
  flex-direction: row;
}

.filtered-rating {
}

.filtered-star {
}

.to-favorites-start {
  padding: 5px;
  height: 28px;
  color: black;
  background-color: antiquewhite;
  border-radius: 0;
}

.to-favorites-start:hover {
  background-color: aqua;
}

.card-box-title {
}

.filtered-athlete {
}

.filteered-title {
}

.filtered-description {
}

.filtered-descr-item {
}

.filtered-descr-title {
}

.filtered-descr-value {
}

/* Pagination */

.subexercises-pagination-container {
}
//===========================================================================================================//
/* CARDS */

li {
  list-style-type: none;
}

.search-result-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}

.exercises-serch-result {
  position: absolute;
  width: 295px;
  height: 165px;
  left: 20px;
  right: 20px;
  top: 92px;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.exercises-serch-result:not(:first-child) {
  padding: 20px;
}

.rating-start-container {
  line-height: normal;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  position: relative;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating p {
  padding: 0;
  width: auto;
}

.rating .workout {
  border-radius: 15px;
  background-color: #7e847f;
  text-transform: uppercase;
  color: #f6f6f6;
  position: absolute;
  width: 76px;
  height: 26px;
  right: 45px;
  top: -5px;
  bottom: 128px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 8px 5px 8px;
  font-family: sans-serif, 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.rating-cont {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-cont button {
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 12px;
  height: 13.33px;
  top: 2px;
  right: 25px;
}

.rating .rating-num {
  color: #1b1b1b;
  font-size: 12px;
  line-height: 1.5px;
}

.rating-star-svg {
  fill: #eea10c;
  padding-bottom: 2px;
}

.start-button-container button {
  padding: 0;
  gap: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 85px;
  top: 10px;
  color: rgb(27, 27, 27);
  font-family: sans-serif, 'DM Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.start-svg {
  transform: rotate(90deg);
}

.runnig-svg {
  fill: #fff;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.exercise-name {
  border-radius: 50%;
  position: relative;
  top: 45px;
  right: 120px;
  background-color: rgb(126, 132, 127);
  width: 24px;
  height: 24px;
}

.exercise-of-name {
  overflow: hidden;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 40px;
  bottom: 2px;
  font-family: sans-serif, 'DM Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.info-from-calories {
  position: absolute;
  top: 107px;
  left: 16px;
  color: rgba(27, 27, 27, 0.4);
  font-family: sans-serif, 'DM Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.info-from-part {
  position: absolute;
  top: 107px;
  left: 185px;
  font-family: sans-serif, 'DM Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.info-from-target {
  position: absolute;
  top: 131px;
  left: 16px;
  font-family: sans-serif, 'DM Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.info-from-back {
  color: rgb(27, 27, 27);
  font-family: sans-serif, 'DM Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.additional-information p {
  width: auto;
  padding: 0;
  text-align: start;
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

/* ================================================================================================================================== */

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  .favorites-box {
    position: relative;
  }

  .exercises-serch-result {
    width: 313px;
    height: 165px;
    top: 135px;
    padding: 14px;
  }

  .exercises-serch-result:not(:first-child) {
    padding: 14px;
  }

  .rating .workout {
    width: 76px;
    height: 26px;
    right: 55px;
    top: 2px;
    bottom: 128px;
    font-family: sans-serif, 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }

  .rating-cont button {
    top: 8px;
  }

  .exercise-name {
    top: 52px;
    right: 130px;
    font-family: sans-serif, 'DM Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }

  .start-button-container button {
    left: 100px;
    font-family: sans-serif, 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
}

/* ================================================================================================================================= */

@media screen and (min-width: 1440px) {
  .favorites-box {
    position: relative;
  }

  .exercises-serch-result {
    width: 424px;
    height: 141px;
    top: 150px;
    left: 50px;
  }

  .exercises-serch-result:not(:first-child) {
    left: 20px;
  }

  .rating .workout {
    right: 110px;
    top: -5px;
    font-family: sans-serif, 'DM Sans';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }

  .rating-cont button {
    top: 0px;
    right: 85px;
  }

  .start-button-container button {
    left: 150px;
    top: 5px;
    color: rgb(27, 27, 27);
    font-family: sans-serif, 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .exercise-name {
    top: 50px;
    right: 185px;
  }

  .info-from-target {
    left: 295px;
    top: 107px;
  }
}
