.favorites-container {
  margin: auto;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favorites-svg-run {
  width: 32px;
  height: 32px;
  background-color: var(--background-main);
}

.favorites-quotes {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark-grey);
  width: 704px;
  height: 302px;
  padding-top: 64px;
  padding-left: 114px;
  padding-bottom: 64px;
}

.favorites-quotes-day {
  color: var(--text-light-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  padding-bottom: 16px;
}

.favorites-quotes-text {
  width: 526px;
  color: rgba(246, 246, 246, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 25px;
}

.favorites-quotes-author {
  color: var(--background-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 64px;
}

.favorites-svg-icon {
  width: 37px;
  height: 31px;
  background-color: var(--background-main);
}

.favorites-img {
  border-radius: 50px;
  width: 352px;
  height: 302px;
  background-color: var(--background-light-grey);
}

.favorites-day-norma {
  width: 352px;
  height: 302px;
  border-radius: 50px;
  background-color: var(--background-white);
}

.favorites-day-block {
  padding-top: 106px;
  padding-left: 110px;
}

.favorites-svg-day {
  width: 20px;
  height: 20px;
  background-color: var(--text-main-color);
  margin-bottom: 15px;
}

.favorites-day-time {
  padding: 0px;
  color: var(--text-main-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 6px;
}

.favorites-day-daily {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.favorites-box {
  width: 1408px;
  height: 687px;
  border-radius: 50px;
  background-color: var(--background-light-grey);
  margin: 0 auto;
}

.favorites-box-title {
  color: var(--text-main-color);
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.02em;
  padding-top: 64px;
  padding-left: 48px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.favorites-box-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 0 auto;
  padding-top: 164px;
}

.favorites-box-img {
  width: 115px;
  height: 71px;
}

.favorites-box-paragraf {
  width: 554px;
  height: 72px;
  color: #1b1b1b;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
}

.favorites-gallery {
}

.favorites-gallery-item {
  border-radius: 15px;
  padding: 140px 105px;
  width: 424px;
  height: 141px;
  background-color: var(--background-white);
}

.workout {
  border-radius: 15px;
  padding: 5px 8px;
  width: 76px;
  height: 26px;
  background-color: var(--background-light-grey);
  color: var(--text-light-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.favorites-remove {
  text-decoration: none;
  margin: 0;
  display: block;
}

.favorites-remove-icon {
  color: var(--text-main-color);
}

.favorites-remove-icon:hover,
.favorites-remove-icon:focus {
  color: var(--background-dark-grey);
}

.favorites-start-btn {
  width: 61px;
  height: 24px;
  border: none;
  color: #1b1b1b;
  background-color: var(--background-white);
}

.favorites-start-btn:hover,
.favorites-start-btn:focus {
  color: var(--background-dark-grey);
}

.favorites-man-icon {
  height: 24px;
  width: 24px;
}

.favorites-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: var(--text-main-color);
}

.favorites-gallery-info {
}

.favorites-gallery-info-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(27, 27, 27, 0.4);
}

.descr-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-main-color);
}
