.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}

.button-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0px 12px;
  font-weight: 400;
  color: rgba(27, 27, 27, 0.4);
  background-color: transparent;
  border-radius: 18px;
}

.button-pagination:active,
.button-pagination:hover {
  font-size: 24px;
  color: var(--text-main-color);
  border: 1px solid var(--text-main-color);
  background-color: transparent;
}

.active {
  font-size: 24px;
  color: var(--text-main-color);
  border: 1px solid var(--text-main-color);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .pagination {
    margin-top: 32px;
  }
}
