.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.style-img {
  max-width: 704px;
  max-height: 302px;
  border-radius: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
