<<<<<<< Updated upstream
=======
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.recommend-img {
  border-radius: 30px;
}
.recommend-text-div {
  display: flex;
  gap: 16px;
  border-radius: 30px;
  padding: 40px 20px;
  background-color: var(--background-dark);
}

.recommend-icon-span {
  background-color: var(--background-btn-hover);
  padding: 6px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.recommend-icon {
  fill: var(--background-main);
}

.recommend-text {
  color: var(--background-main);
}

.recommend-title {
  font-feature-settings: 'clig' off, 'liga' off;
  line-height: 140%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}

.recommend-subtitle {
  margin-bottom: 14px;
}

.recommend-subtitle,
.recommend-description {
  font-size: 14px;
  line-height: 128%;

  color: rgba(246, 246, 246, 0.6);
}

@media (min-width: 768px) {
  .recommend-img {
    width: 736px;
    height: 302px;
    border-radius: 50px;
  }
  .recommend-text-div {
    padding: 64px 96px 64px 64px;
    border-radius: 50px;
    gap: 18px;
  }
  .recommend-title {
    font-size: 24px;
    line-height: 133%;
  }
  .recommend-subtitle {
    margin-bottom: 25px;
  }
  .recommend-description {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .recommend-container {
    display: flex;
  }
  .recommend-img,
  .recommend-text-div {
    width: 704px;
    height: 302px;
  }
  .recommend-title {
    padding: 64px;
  }
  .recommend-subtitle {
    margin-bottom: 25px;
  }
  .recommend-description {
    line-height: 150%;
  }
}
>>>>>>> Stashed changes
