.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ul-list {
  list-style-type: none;
  display: flex;

  justify-content: center;
  flex-direction: row;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .ul-list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .ul-list {
    gap: 72px;
  }
}
.style-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.style-img-box {
  width: 704px;
  height: 302px;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .style-img-box {
    width: 736px;
    height: 302px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .style-img-box {
    width: 335px;
    height: 269px;
    display: flex;
    flex-direction: row;
  }
}
.wrap {
  width: 704px;
  height: 302px;
  padding: 64px 64px 64px 114px;
  background: #1b1b1b;
  border-radius: 50px;
  color: aliceblue;
}

.par-color {
  color: aliceblue;
}
